.btn
{
	margin-top: 0rem;
	display: inline-block;
	padding: .6rem 2.5rem;
	font-size: 1.8rem;
	border-radius: .5rem;
	border: .2rem solid black;
	color: black;
    text-decoration: none;
	cursor: pointer;
	background: none;
}

.btn:hover
{
	color: orange;
}